/* style.css dosyasının en altına bu yeni eklemeleri yapıştırın */
body {
    min-height: auto !important; /* Alt taraftaki devasa boşluğu yok eder */
    padding-bottom: 40px;        /* Sadece tatlı bir bitiş boşluğu bırakır */
}

.green-btn {
    background: #27ae60 !important;
}
.green-btn:hover {
    background: #219653 !important;
}

.app-container {
    margin: 10px auto !important; /* Üst ve alttaki boşlukları daraltır */
}
